
.fountainTextG{
    color:#000000;
    font-family:Arial;
    font-size:40px;
    text-decoration:none;
    font-weight:bold;
    font-style:normal;
    float:left;
    -moz-animation-name:bounce_fountainTextG;
    -moz-animation-duration:1.82s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:normal;
    -moz-transform:scale(.5);
    -webkit-animation-name:bounce_fountainTextG;
    -webkit-animation-duration:1.82s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:normal;
    -webkit-transform:scale(.5);
    -ms-animation-name:bounce_fountainTextG;
    -ms-animation-duration:1.82s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:normal;
    -ms-transform:scale(.5);
    -o-animation-name:bounce_fountainTextG;
    -o-animation-duration:1.82s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:normal;
    -o-transform:scale(.5);
    animation-name:bounce_fountainTextG;
    animation-duration:1.82s;
    animation-iteration-count:infinite;
    animation-direction:normal;
    transform:scale(.5);
}

#fountainTextG_1{
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#fountainTextG_2{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

#fountainTextG_3{
    -moz-animation-delay:0.78s;
    -webkit-animation-delay:0.78s;
    -ms-animation-delay:0.78s;
    -o-animation-delay:0.78s;
    animation-delay:0.78s;
}

#fountainTextG_4{
    -moz-animation-delay:0.91s;
    -webkit-animation-delay:0.91s;
    -ms-animation-delay:0.91s;
    -o-animation-delay:0.91s;
    animation-delay:0.91s;
}

#fountainTextG_5{
    -moz-animation-delay:1.04s;
    -webkit-animation-delay:1.04s;
    -ms-animation-delay:1.04s;
    -o-animation-delay:1.04s;
    animation-delay:1.04s;
}

#fountainTextG_6{
    -moz-animation-delay:1.17s;
    -webkit-animation-delay:1.17s;
    -ms-animation-delay:1.17s;
    -o-animation-delay:1.17s;
    animation-delay:1.17s;
}

#fountainTextG_7{
    -moz-animation-delay:1.3s;
    -webkit-animation-delay:1.3s;
    -ms-animation-delay:1.3s;
    -o-animation-delay:1.3s;
    animation-delay:1.3s;
}

#fountainTextG_8{
    -moz-animation-delay:1.43s;
    -webkit-animation-delay:1.43s;
    -ms-animation-delay:1.43s;
    -o-animation-delay:1.43s;
    animation-delay:1.43s;
}

#fountainTextG_9{
    -moz-animation-delay:1.56s;
    -webkit-animation-delay:1.56s;
    -ms-animation-delay:1.56s;
    -o-animation-delay:1.56s;
    animation-delay:1.56s;
}

#fountainTextG_10{
    -moz-animation-delay:1.69s;
    -webkit-animation-delay:1.69s;
    -ms-animation-delay:1.69s;
    -o-animation-delay:1.69s;
    animation-delay:1.69s;
}

@-moz-keyframes bounce_fountainTextG{
    0%{
        -moz-transform:scale(1);
        color:#000000;
    }

    100%{
        -moz-transform:scale(.5);
        color:#FFFFFF;
    }

}

@-webkit-keyframes bounce_fountainTextG{
    0%{
        -webkit-transform:scale(1);
        color:#000000;
    }

    100%{
        -webkit-transform:scale(.5);
        color:#FFFFFF;
    }

}

@-ms-keyframes bounce_fountainTextG{
    0%{
        -ms-transform:scale(1);
        color:#000000;
    }

    100%{
        -ms-transform:scale(.5);
        color:#FFFFFF;
    }

}



@keyframes bounce_fountainTextG {
    0% {
        transform: scale(1);
        color: #000000;
    }

    100% {
        transform: scale(.5);
        color: #FFFFFF;
    }
}



.swiper-container{
    width:750px;
    height:1140px;
    overflow: hidden;
}


#loading{
    background: transparent url("../img/loading.jpg") no-repeat center top;
    background-size: 100% 100%;
    width:750px;
    height:1140px;
}
#loading .icon{
    position: absolute;
    top:80px;left:260px;
}
#loading .puple{
    position: absolute;
    top:20px;left:430px;
}
#loading h1{
    font-size: 70px;color:#fff;letter-spacing: 15px;top:240px;left:165px;position: absolute;
}
#loading h2{
    font-size: 32px;color:#fff;letter-spacing: 10px;top:360px;left:160px;position: absolute;
}
#loading .line{
    position: absolute;top: 345px;
    left: 160px;
    height:2px;
    background: #fff;width:325px;
}
#loading .download{
    width:325px;height:65px;display:block;
    font-size: 35px;color:#fff;border-radius: 40px;
    background: #00a2ff;text-align: center;
    line-height: 65px;position: absolute;top:530px;left:160px;
}
#fountainTextG{
    padding:0px 225px;
    width:190px;
    top:460px;
    position: absolute;
    left: 50%;
    margin-left: -320px;
}



.bottom-bg{
    position: absolute;
    bottom: 0;
}

.triangle{
    position: absolute;
}

/*page1*/
.swiper-slide1{
    background: transparent url("../img/page1.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide1 .top{
    position: absolute;
    width: 465px;
    height: 345px;
    left: 142px;
}

.swiper-slide1 .bottom-bg{
    position: absolute;
    bottom: 0;
    height: 178px;
}

.swiper-slide1 .bottom-title{
    position: absolute;
    bottom: 120px;
    left:172px;
    width: 406px;
}





/*page2*/
.swiper-slide2{
    background: url("../img/page2.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide2 .top-bg{
    position: absolute;
    width: 750px;
    top: 78px;
}


.swiper-slide2 .top-title{
    position: absolute;
    width: 195px;
    left: 50%;
    margin-left: -98px;
    top: 56px;
}

.swiper-slide2 .icon1{
    width: 90px;
    position: absolute;
    left: 36px;
    top: 188px; 
}

.swiper-slide2 .icon2{
    width: 90px;
    position: absolute;
    left: 36px;
    top: 326px;
}

.swiper-slide2 .icon3{
    width: 90px;
    position: absolute;
    left: 36px;
    top: 464px;
}

.swiper-slide2 .icon4{
    width: 90px;
    position: absolute;
    left: 36px;
    top:  602px;
}


.swiper-slide2 .describe1{
    width: 269px;
    position: absolute;
    left: 170px;
    top: 223px; 
}

.swiper-slide2 .describe2{
    width: 437px;
    position: absolute;
    left: 170px;
    top: 362px;
}

.swiper-slide2 .describe3{
    width: 476px;
    position: absolute;
    left: 170px;
    top: 501px;
}

.swiper-slide2 .describe4{
    width: 547px;
    position: absolute;
    left: 170px;
    top:  632px;
}


.swiper-slide2 .text-outline{
    width: 679px;
    position: absolute;
    left: 36px;
    bottom:  128px;
}

.swiper-slide2 .text{
    width: 637px;
    position: absolute;
    left: 58px;
    bottom:  154px;
}






.swiper-slide3{
    background: url("../img/page3.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide3 .avatar{
    position: absolute;
    left: 270px;
    top:444px;
}


.swiper-slide3 .phone{
    position: absolute;
    left: 215px;
    top:1039px;
}


.swiper-slide3 .phone2{
    position: absolute;
    left: 216px;
    top:1046px;
}


.swiper-slide4{
    background: url("../img/page4.jpg") no-repeat center top;
    background-size: 100% 100%;
}



.swiper-slide4 .title-once{
    position: absolute;
    bottom: 568px;
}

.swiper-slide4 .text-once{
    position: absolute;
    bottom: 462px;
}

.swiper-slide4 .title{
    position: absolute;
    left:30px;
    bottom:230px;

}
.swiper-slide4 .text{
    position: absolute;
    bottom: 128px;
    left:86px;
}





.swiper-slide5{
    background: url("../img/page5.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide5 .title{
    position: absolute;
    left:30px;
    bottom:230px;

}
.swiper-slide5 .text{
    position: absolute;
    bottom: 128px;
    left:86px;
}

.swiper-slide6{
    background: url("../img/page6.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide6 .title{
    position: absolute;
    left:30px;
    bottom:229px;

}
.swiper-slide6 .text{
    position: absolute;
    bottom: 128px;
    left:76px;
}

.swiper-slide7{
    background: url("../img/page7.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide7 .title{
    position: absolute;
    left:30px;
    bottom:230px;

}
.swiper-slide7 .text{
    position: absolute;
    bottom: 128px;
    left:76px;
}

.swiper-slide8{
    background: url("../img/page8.jpg") no-repeat center top;
    background-size: 100% 100%;
}

.swiper-slide8 .title{
    position: absolute;
    left:30px;
    bottom:230px;

}
.swiper-slide8 .text{
    position: absolute;
    bottom: 128px;
    left:86px;
}




.bottom{
    position: fixed;
    bottom: 10px;
    width: 72px;
    margin-left: -36px;
    left:50%;
    z-index: 2015;
    -webkit-animation: nextpage 1.2s 1s infinite;  
}

@-webkit-keyframes nextpage /* Safari 和 Chrome */
{
    0% {bottom: 10px;}
    70% {bottom: 25px;}
    100% {bottom: 10px;}
}   

